doctype html
head
  title= title
  link(rel='stylesheet' href='stylesheets/main.css')
  // Compiled and minified CSS
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")

  // Compiled and minified JavaScript 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
          

  body
    .container
      nav
        #nav-wrapper
          a(href="/" class="brand-logo") MakerSpace 3D Prints
            ul(id="nav-mobile" class="right hide-on-med-and-down")
              li: a.btn.indigo(href="/capture") Capture

      block content
      block footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

  script(type='text/javascript').
    function deletePrint(id) {
      $.ajax({
        url: '/detail/' + id + '/delete',
        type: 'DELETE'
      });
    }
